.contact {
    position: relative;
    background-color: $color-secondary-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        position: absolute;
        top: 50%;
        left: 3rem;
        width: 40rem;
        transform: translateY(-50%);

        @media only screen and (max-width: $bp-900) {
            width: 15rem;
            top: calc(100% - 17rem);
            left: calc(100% - 17rem);     
            transform: translateY(0);
        }

        @media only screen and (max-width: $bp-400) {
            width: 10rem;
            top: calc(100% - 12rem);
            left: calc(100% - 12rem);
        }
    }
}