.hero {
    position: relative;
    background-color: $color-secondary-dark;
    // display: flex;
    // flex-direction: column;

    &__header {
        // position: relative;
    }

    &__brand {
        top: .5rem;
        left: 1rem;
        position: absolute;
    }

    &__logo {
        width: 10rem;
    }

    &__hamburger {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    &__hamburger-line {
        display: block;
        margin-bottom: .7rem;
        width: 3rem;
        height: 2px;
        background-color: $color-primary;
    }

    &__hamburger-line--middle {
        width: 4rem;
    }

    &__slogan {
        // position: absolute;
        // top: 50%;
        // left: 10%;
        // transform: translateY(-50%);
        height: 100%;
        width: 45%;
        text-align: center;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__slogan-text {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 900;
        letter-spacing: 3px;
        color: $color-white;
    }

    &__slogan-text--gradient {
        background: linear-gradient(to right bottom, $color-tertiary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__caption-wrapper {
        margin: 2.5rem 0 2.5rem 3rem;
        font-family: $font-secondary;
        color: $color-white;
        text-align: center;
        width: 45%;
    }

    &__caption {
        font-size: 3rem;
        margin-bottom: .3rem;
        letter-spacing: 2px;
    }

    &__caption--prof {
        font-size: 1.5rem;
        color: rgba($color-tertiary, .5);
        font-weight: 200;
        margin-bottom: 3rem;
        letter-spacing: 1px;
    }

    &__btn {
        position: relative;
        padding: 1rem 2rem;
        font-family: $font-primary;
        text-transform: uppercase;
        border: none;
        background-image: linear-gradient(to right bottom, $color-primary, $color-tertiary);
        background-size: 100%;
        color: $color-white;
        font-family: $font-secondary;
        font-size: 2rem;
        letter-spacing: 1px;
        border-radius: 2rem;
        cursor: pointer;
        z-index: 10;
        filter: brightness(90%);
        transition: filter .6s ease-out;

        &::before {
            background-image: linear-gradient(to right bottom, $color-tertiary, $color-primary);
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
            z-index: -10;
            transition: opacity .6s ease-out;
            border-radius: 2rem;
        }

        &:hover {
            filter: brightness(100%);
           &::before {
               opacity: 1;
           }
        }

        &:focus, &:active {
            outline: none;
        }
    }

    &__photo-container {
        position: absolute;
        bottom: 0;
        right: 15%;
        width: 40%;
        z-index: 5;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -6%;
            left: 50%;
            transform: translateX(-50%);
            width: 50rem;
            height: 50rem;
            background-image: linear-gradient(rgba($color-secondary-dark, .7), rgba($color-secondary-dark, .7)) ,url(../images/code-bg.jpg);
            border: 1.5rem solid rgba($color-secondary-dark, .4);
            background-position: right;
            background-size: cover;
            z-index: -1;
            border-radius: 50%;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
    }

    &__socials {
        // position: absolute;
        // bottom: 15%;
        // left: 0;
        margin-left: 3rem;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content max-content;
        grid-column-gap: 1.5rem;
        align-items: center;
        width: 45%;
        z-index: 10;
    }

    &__social-link {

    }

    &__social-icon {
        width: 2rem;
        filter: brightness(50%);
        transition: filter .3s ease-out;

        &:hover {
            filter: brightness(100%);
        }
        
    }

    &__social-line {
        display: block;
        height: 1px;
        background-color: $color-tertiary;
        filter: brightness(50%);
    }

    &__circle-gradient {
        position: absolute;

        &--1 {
            bottom: 35%;
            left: -3rem;
            width: 13rem;
            transform: rotate(-45deg);
        }

        &--2 {
            top: 5%;
            left: 40%;
            width: 15rem;
        }

        &--3 {
            bottom: -3rem;
            right: -3rem;
            width: 12rem;
            transform: rotate(45deg);
        }
    }
}

.top {
    height: 70%;
    background-color: $color-secondary-light;
    border-bottom: 3px solid rgba($color-secondary-dark, .4);
    position: relative;
}

.bottom {
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
