.hero {
    background-color: $color-secondary-dark;
    overflow: hidden;    

    &__slogan {
        height: 100%;
        width: 45%;
        text-align: center;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width: $bp-900) and (orientation: landscape) {
            flex-direction: row;
            width: 100%;
            align-items: center;
            margin-left: 0;
        }

        @media only screen and (max-width: $bp-400) {
            width: 100%;
            margin-left: 0;
        }

    }

    &__slogan-text {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 900;
        letter-spacing: 3px;
        color: $color-white;

        &:not(:last-child) {
            @media only screen and (max-width: $bp-900) and (orientation: landscape) {
                margin-right: 2rem;
            }
        }

        @media only screen and (max-width: $bp-900) {
            font-size: 6.5rem;
        }

        @media only screen and (max-width: $bp-600) {
            font-size: 5.5rem;
        }
    }

    &__caption-wrapper {
        margin: 3.5rem 0 2.5rem 3rem;
        font-family: $font-secondary;
        color: $color-white;
        text-align: center;
        width: 45%;

        @media only screen and (max-width: $bp-900) and (orientation: landscape) {
            margin: 2rem 0 2rem 3rem;
        }

        @media only screen and (max-width: $bp-400) {
            width: 100%;
            margin: 1.5rem 0;
        }
    }

    &__caption {
        font-size: 3rem;
        margin-bottom: .3rem;
        letter-spacing: 2px;

        @media only screen and (max-width: $bp-900) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-600) {
            font-size: 2.2rem;
        }
    }

    &__caption--prof {
        font-size: 1.5rem;
        color: rgba($color-tertiary, .5);
        font-weight: 200;
        margin-bottom: 3rem;
        letter-spacing: 1px;

        @media only screen and (max-width: $bp-900) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-900) and (orientation: landscape) {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-600) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: $bp-400) {
            margin-bottom: 1.5rem;
        }
    }

    &__btn {
        position: relative;
        background-image: linear-gradient(to right bottom, $color-primary, $color-tertiary);
        background-size: 100%;
        z-index: 10;
        filter: brightness(90%);
        transition: filter .6s ease-out;

        &::before {
            background-image: linear-gradient(to right bottom, $color-tertiary, $color-primary);
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
            z-index: -10;
            transition: opacity .6s ease-out;
            border-radius: 2rem;
        }

        &:hover {
            filter: brightness(100%);
           &::before {
               opacity: 1;
           }
        }

        &:focus, &:active {
            outline: none;
        }
    }

    &__photo-container {
        position: absolute;
        bottom: 0;
        right: 15%;
        width: 40%;
        z-index: 5;

        @media only screen and (max-width: $bp-900) {
            width: 60%;
            right: -5%;
        }

        @media only screen and (max-width: $bp-900) and (orientation: landscape) {
            width: 35%;
            right: 0;
        }

        @media only screen and (max-width: $bp-600) {
            width: 70%;
            right: -10%;
        }

        @media only screen and (max-width: $bp-400) {
            right: 0;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -6%;
            left: 50%;
            transform: translateX(-50%);
            width: 50rem;
            height: 50rem;
            background-image: linear-gradient(rgba($color-secondary-dark, .7), rgba($color-secondary-dark, .7)) ,url(../images/code-bg.jpg);
            border: 1.5rem solid rgba($color-secondary-dark, .4);
            background-position: right;
            background-size: cover;
            z-index: -1;
            border-radius: 50%;

            @media only screen and (max-width: $bp-1200) {
                width: 45rem;
                height: 45rem;
            }

            @media only screen and (max-width: $bp-900) {
                width: 35rem;
                height: 35rem;
            }

            @media only screen and (max-width: $bp-900) and (orientation: landscape) {
                width: 20rem;
                height: 20rem;
            }

            @media only screen and (max-width: $bp-600) {
                width: 30rem;
                height: 30rem;
            }

            @media only screen and (max-width: $bp-400) {
                width: 25rem;
                height: 25rem;
            }
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
    }

    &__socials {
        // position: absolute;
        // bottom: 15%;
        // left: 0;
        margin-left: 3rem;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content max-content;
        grid-column-gap: 1.5rem;
        align-items: center;
        width: 45%;
        z-index: 10;

        @media only screen and (max-width: $bp-400) {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content 1fr max-content max-content;
            grid-row-gap: 1.5rem;
            // margin-left: 2rem;
            // margin-bottom: 2rem;
            width: 1.8rem;
            justify-items: center;
            margin: 0;
            position: absolute;
            left: 2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__social-link {

    }

    &__social-icon {
        width: 2rem;
        filter: brightness(50%);
        transition: filter .3s ease-out;

        @media only screen and (max-width: $bp-900) {
            width: 1.8rem;
        }

        &:hover {
            filter: brightness(100%);
        }
        
    }

    &__social-line {
        display: block;
        height: 1px;
        background-color: $color-tertiary;
        filter: brightness(50%);

        @media only screen and (max-width: $bp-400) {
            height: 15rem;
            width: 1px;
        }
    }

    &__circle-gradient {
        position: absolute;

        &--1 {
            bottom: 35%;
            left: -3rem;
            width: 13rem;
            transform: rotate(-45deg);
            display: none;

            @media only screen and (max-width: $bp-900) {
                bottom: 40%;
                width: 10rem;
            }

            @media only screen and (max-width: $bp-600) {
                bottom: 10%;
            }

            @media only screen and (max-width: $bp-400) {
                display: none;
            }
        }

        &--2 {
            top: 5%;
            left: 40%;
            width: 15rem;

            @media only screen and (max-width: $bp-900) and (orientation: landscape) {
                display: none;
            }

            @media only screen and (max-width: $bp-900) {
                left: 50%;
                width: 12rem;
            }

            @media only screen and (max-width: $bp-600) {
                top: 15%;
                left: 60%;
            }

            @media only screen and (max-width: $bp-400) {
                display: none;
            }
        }

        &--3 {
            bottom: -3rem;
            right: -3rem;
            width: 12rem;
            transform: rotate(45deg);

            @media only screen and (max-width: $bp-900) {
                display: none;
            }
        }
    }
}

.top {
    height: 70%;
    background-color: $color-secondary-light;
    border-bottom: 3px solid rgba($color-secondary-dark, .4);
    position: relative;

    @media only screen and (max-width: $bp-900) and (orientation: landscape) {
        height: 50%;
    }

    @media only screen and (max-width: $bp-600) {
        height: 50%;
    }

    @media only screen and (max-width: $bp-400) {
        height: 40%;
    }

}

.bottom {
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media only screen and (max-width: $bp-900) and (orientation: landscape) {
        height: 50%;
    }

    @media only screen and (max-width: $bp-900) {
        justify-content: space-between;
    }

    @media only screen and (max-width: $bp-600) {
        height: 50%;
    }

    @media only screen and (max-width: $bp-400) {
        height: 60%;
    }
}
