.projects {
    background-color: $color-secondary-light;
    display: flex;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-900) {
        justify-content: center;
    }

    &__title {
        text-align: center;
        font-size: 3rem;
        color: $color-primary;
        letter-spacing: 2px;

        @media only screen and (max-width: $bp-900) {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }
    }

    &__description {
        color: $color-tertiary;
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: 1px;
        margin-top: 3rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-900) {
            font-size: 1.3rem;
        }
    }

    &__demo {
        width: 100%;
        text-align: center;
    }

    &__image--desktop {
        width: 50%;

        @media only screen and (max-width: $bp-900) {
            width: 40%;
        }
    }

    &__image--mobile {
        width: 20%;

        @media only screen and (max-width: $bp-900) {
            width: 15%;
        }
    }

    &__links {
        text-align: center;
    }

    &__link {
        margin: 0 1rem;
    }

    &__link-icon {
        width: 3rem;
        filter: brightness(70%);
        transition: filter .3s ease-out;

        @media only screen and (max-width: $bp-900) {
            width: 2.5rem;
        }

        &:hover {
            filter: brightness(100%);
        }
    }

    // &__icon {
    //     position: absolute;
    //     width: 15rem;
    //     bottom: 0;
    //     right: 0;
    // }
}