*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $font-secondary;


    // &::before {
    //     content: '';
    //     display: block;
    //     width: 1px;
    //     height: 100vh;
    //     position: fixed;
    //     top: 0;
    //     right: 10rem;
    //     background-color: $color-tertiary;
    //     z-index: 10;
    // }
}


