// COLORS
$color-primary: #00a9b9;
$color-secondary-dark: #263137;
$color-secondary-light: #3c494f;
$color-tertiary: #d7e6e6;
$color-white: #ffffff;

// FONTS
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;