// COLORS
$color-primary: #00a9b9;
$color-secondary-dark: #263137;
$color-secondary-light: #3c494f;
$color-tertiary: #d7e6e6;
$color-white: #ffffff;

// FONTS
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// MEDIA QUERY BREAKPOINTS
$bp-400: 25em; // 400px
$bp-500: 31.25em; // 500px
$bp-600: 37.5em; // 600px
$bp-700: 43.75em; // 700px
$bp-900: 56.25em; // 900px
$bp-1200: 75em; // 1200px