.btn {
    padding: 1rem 2rem;
    font-family: $font-secondary;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-white;
    letter-spacing: 1px;
    border-radius: 2rem;
    text-decoration: none;

    @media only screen and (max-width: $bp-900) {
        padding: .8rem 1.5rem;
    }
}

.btn--primary {
    border: none;
    font-size: 2rem;

    @media only screen and (max-width: $bp-900) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-600) {
        font-size: 1.3rem;
    }
}

.btn--secondary {
    border: 1px solid $color-secondary-dark;
    background-color: transparent;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-900) {
        font-size: 1.3rem;
    }

    @media only screen and (max-width: $bp-600) {
        font-size: 1.2rem;
    }
}