.header {
        position: fixed;
        top: 0;
        left: 0;
        // height: 100px;
        width: 100%;
        z-index: 10;

    &__brand {
        top: .5rem;
        left: 1rem;
        position: absolute;
        z-index: 10;
    }

    &__logo {
        width: 10rem;
    }

    &__hamburger {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 3.5rem;
        height: 3rem;
        z-index: 10;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color: transparent;
    }

    &__hamburger-line {
        width: 100%;
        height: 3px;
        background-color: $color-primary;
        transition: all .8s;
    }

    &__hamburger-line--2 {
        width: 60%;
    }

}

.header__hamburger.change {
    .header__hamburger-line--1 {
        transform: rotateZ(-405deg) translate(-8px, 6px);
    }

    .header__hamburger-line--2 {
        opacity: 0;
    }

    .header__hamburger-line--3 {
        transform: rotateZ(405deg) translate(-8px, -6px);
    }
}

.navigation {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(38,49,55,1) 40%, rgba(60,73,79,1) 100%);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform .8s cubic-bezier(1, 0, 0, 1);
    // z-index: 15;

    &__list {
        text-align: center;
    }

    &__item {
        list-style: none;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 2.5rem;
        color: $color-tertiary;
        font-weight: 200;
        font-family: $font-secondary;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding: .8rem 0;
        transition: color .5s;

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            transform: scaleX(0);
            transition: transform .5s;
            background-color: $color-primary;

        }

        &::after {
            bottom: 0;
            transform-origin: right;
            // background-image: linear-gradient(to right, $color-tertiary, $color-primary);
        }

        &::before {
            top: 0;
            transform-origin: left;
            // background-image: linear-gradient(to left, $color-tertiary, $color-primary);
        }

        &:hover {
            color: $color-white;
        }

        &:hover::before,
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.navigation.change {
    transform: translateX(0);
}