.section-title {
    position: absolute;
    top: 0;
    right: 13%;
    font-size: 10rem;
    letter-spacing: 5px;
}

.about__title {
    color: rgba($color-secondary-dark, .4);
}

.skills__title {
    color: rgba($color-secondary-light, .4);
}